1. create "city" as variable and it has value of "SF"

In [28]:
#answer

2. print variable which is "city"

In [29]:
#answer

3. assign new value which is "NYC" on "city" as variable

In [30]:
#anwer

4. create "temperature" as variable and assign into it with value of "20"

In [31]:
#answer

5. print out temperature variable

In [32]:
#answer

7. print out result of 10000 divide by 30

In [33]:
#answer

8. print out type of "city"

In [34]:
#answer

9. print out this "'hi' there" using escape characters

In [35]:
#answer

10. print out "this is 
multiple line of body in the paragraph.
using special character in python"

In [36]:
#answer

11. concanate two string which are "SF" and "NYC" and print out them

In [37]:
#answer

12. print out sentence which is "I'm living in SF when i was young" using fstring

In [38]:
#answer

13. create string variable "text" and assign value which is "hi mike i am jenny" in "text" variable and print it out.

In [39]:
#answer

14. select string of "text" using indexing from 1 to 3 and print it out

In [40]:
#answer

15. print string of "text" using index from 0 to 2 and print it out

In [41]:
#answer

16. print out length value of "text" variable

In [42]:
#answer

17.  create "num" as variable and assign 2900 into it and print out "num"

In [43]:
#answer

18. print type of "num"

In [44]:
#answer

19. print out result of "1+1000"

In [45]:
#answer

20. print out result of 1000 multiply by 20

In [46]:
#answer

21. print out result of 320 to the power of 20

In [47]:
#answer

22. create "pi" as vairable and assign it into 3.141592 and calculate perimeter of circle which has 200 as radius

In [48]:
#answer

23. create "greeting" as variable and assign into input function in it and print out greeting

In [49]:
#answer

24. create "num" as variable and assign "200" into "num" with double quote and print out

In [50]:
#answer

25. convert num into integer and print out of type for "num"

In [51]:
#answer

26. print this "i am david and 20 years old and living in SF" using format function. In this string, david,20 and SF should be formatted using format function

In [52]:
#answer

27. create "fnum" as variable and assign "23.232" into "fnum" and print out only two digit of float part and print out

In [53]:
#answer

28. create "address" and assign "SF,20302,California" and convert it into uppercase

In [54]:
#answer

29. convert "location" and assign "NYC SF BUILDING" and conver it into lowercase

In [55]:
#answer

30. create "new_address" and assign " Philadelphia, 504503 " and strip space in the left and right and print out

In [56]:
#answer

31. find index of "hi" in "hihi there" from left

In [57]:
#answer

32. find index of "hi" in "hihi there" from right

In [58]:
#answer

33. check whether "hi" is in "hihi there" as string and print out boolean variable

In [59]:
#answer

34. create "companies" and assign "apple google amazon netflix" and split them with " " as space between letters and print it out

In [60]:
#answer

35. create email and get input from users and print out length of email

In [61]:
#anwser